<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.2.xsd">

    <!-- 配置组件扫描器 -->
    <!-- 在my-dispatcher-servlet.xml文件中也可以配置这个属性 -->
    <!-- 扫描业务层的bean -->
    <context:component-scan base-package="com.yyu.cms"/>

</beans>